# Copy this file to .env and fill in your values
# Secrets are mounted via Docker Compose secrets at /run/secrets/bw_env

SSH_PORT=7777

BW_SERVER=https://vault.bitwarden.eu
BW_CLIENTID=user.xxxxx
BW_CLIENTSECRET=yyyyy
BW_SESSION_TTL=30
BW_OUTPUT_FILE=/dev/shm/bw_last
BW_SSH_PUBKEY=ssh-rsa AAAAB3...
